In [1]:
import requests
import pandas as pd

In [2]:
responce = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=e357c47af5cfc3005a4e288e4e5c7cbf&language=en-US&page=1').json()

In [3]:
final = pd.DataFrame()

for j in range(1,500):
    responce = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=e357c47af5cfc3005a4e288e4e5c7cbf&language=en-US&page={}'.format(j)).json()
    popularity = []
    vote_count = []
    original_language = []
    title = []
    vote_average= []
    overview = []
    release_date = []

    for i in responce['results']:
        try:

            popularity.append(i['popularity'])
            vote_count.append(i['vote_count'])
            original_language.append(i['original_language'])
            title.append(i['title'])
            vote_average.append(i['vote_average'])
            overview.append(i['overview'])
            release_date.append(i['release_date'])
        except KeyError:
            continue

    c = {'title':title,'overview':overview,'original_language':original_language,'popularity':popularity,'release_date':release_date,'popularity':popularity,'vote_average':vote_average}
    try:
        df = pd.DataFrame(c)
    

        final = pd.concat([final, df], axis=0,ignore_index=True)
    except ValueError:
        continue

In [4]:
final

,title,overview,original_language,popularity,release_date,vote_average
0,Meg 2: The Trench,An exploratory dive into the deepest depths of...,en,2943.170,2023-08-02,7.0
1,Barbie,Barbie and Ken are having the time of their li...,en,3792.387,2023-07-19,7.3
2,The Nun II,"In 1956 France, a priest is violently murdered...",en,2050.948,2023-09-06,6.8
3,Indiana Jones and the Dial of Destiny,"Finding himself in a new era, and approaching ...",en,1348.682,2023-06-28,6.7
4,Fast X,Over many missions and against impossible odds...,en,2054.374,2023-05-17,7.3
...,...,...,...,...,...,...
9815,The Indian Runner,Two brothers cannot overcome their opposite pe...,en,11.995,1991-09-20,6.5
9816,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",en,15.195,1993-10-15,6.5
9817,Kite,"Sawa may seem innocent and naive, but don’t be...",ja,16.495,1998-02-25,6.6
9818,The Angriest Man in Brooklyn,After learning that a brain aneurysm will kill...,en,12.998,2014-05-23,5.7
9819,The Glenn Miller Story,A vibrant tribute to one of America's legendar...,en,16.995,1954-01-04,6.9

In [6]:
df.to_csv('TMDB.csv', index=False)